/* mobile */
@media (max-width: 740px){

    /* keo dai sub-nav ra (hover) */
    #nav
    {
        display: block;
    }
    /* cho menu hien do xuong */
    #nav > li {
        display: block;
    }
    /* cho subnav hien menu */
    #nav .sub-nav {
        position: initial;
    }
    /* hieu ung hover cho chu home ngan la */
    #nav > li:first-child {
        display: inline-block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    /* an thanh tim kiem */
    .search-btn{
        display: none;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }
    /* chia cho phan nhap member xuong dong */
    .place-item{
        width: 100%;
    }
    /* chia cho phan nhap thog tin xuong dong */
    .col-2{
        width: 100%;
    }
    .contact-about{
        margin-bottom: 32px;
    }
    .buy-btn,
    .send-btn{
        width: 100%;
        text-align: center;
    }
    .first-line{
        margin-top: 8px;
    }
}
/* mobile */

@media (min-width:740px){
    #mobile-menu{
        display: none;
    }
    #header{
        overflow: visible;
    }
}
/* mobile vs tablet */
@media (max-width: 1023px){
    .social-list [class*="ti-"]{
        margin: 0 8px;
    }
    .copy-right {
        margin-top: 35px;
        font-size: 20px;
        display: inline-block;
    }
    
.contact-about {
    line-height: 2;
}
}